%div{class: 'modal fade', id: 'donation'}
	%div{class: 'modal-dialog'}
		%div{class: 'modal-content'}
			%div{class: 'modal-header'}
				%button{tyle: 'button', class: 'close', 'data-dismiss': 'modal'} &times;
				%h4{class: 'modal-title'} Donation
			%div{class: 'modal-body'}
				%p Like Brynhildr? Consider donating. Any amount is appreciated

				%ul
					%li 
						ETH 
						%input{type: 'text', disabled: true, class: 'form-control', value: '0x96604152e63E627bD5205d6D344cc6aF20DacC43'}
					%li 
						XMR
						%input{type: 'text', disabled: true, class: 'form-control', value: '4GdoN7NCTi8a5gZug7PrwZNKjvHFmKeV11L6pNJPgj5QNEHsN6eeX3DaAQFwZ1ufD4LYCZKArktt113W7QjWvQ7CWCRAfsVo5A5SASUyRo'}