%div{class: 'modal fade', id: 'help'}
	%div{class: 'modal-dialog'}
		%div{class: 'modal-content'}
			%div{class: 'modal-header'}
				%button{tyle: 'button', class: 'close', 'data-dismiss': 'modal'} &times;
				%h4{class: 'modal-title'} Brynhildr
			%div{class: 'modal-body'}
				%p Brynhildr is multi-resolution multi-pair exchange monitoring app