%nav{class: 'navbar navbar-inverse'}
	%div{class: 'container-fluid navbar-container'}
		%a{class: 'navbar-brand navbar-brand-main', 'data-toggle': 'dropdown', href: '#'} 
			Brynhildr

%div{id: 'dashboard-table'}

= stylesheet_link_tag 'style.css'
= javascript_include_tag 'sprintf.min'
= javascript_include_tag 'plotly-latest.min'
= javascript_include_tag 'binance_endpoint'
:javascript
	$(document).ready(function() {
		BinanceEndpoint.init();
	})