body {
  font-family: 'Exo', sans-serif;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: #eee;
}

.pairname, .equitether {
	font-weight: bold;
	font-size: 175%;
}

.header-span {
	text-align: center;
	font-weight: bold;
	font-size: 175%;
}

.negative {
	color: #D4826A;
}

.pairtitle {
	background-color: #ccc;
	color: #333;
}

div.colfig {
	padding: 0px;
}

.colfig > span {
	padding: 0px 4px;
}

.rowblock {
	border: 1px solid #aaa;
	//border-radius: 4px;
	padding: 0px 0px;
}

.navbar.navbar-inverse {
	border-radius: 0px;
	font-weight: bold;
}

.footer {
	border-top: 1px solid #aaa;
	font-size: 90%;
	font-style: italic;
	text-align: right;
	padding-right: 8px;
}

.bg-positive {
	background-color: transparent;
}

.bg-negative {
	background-color: transparent;
}

.equitether {
	padding-right: 4px;
}

.currentprice {
	padding-right: 4px;
	font-weight: normal;
	font-size: 175%;
}

.static-kline {
	font-family: 'Inconsolata', monospace;
	font-size: 125%;
}

.static-kline.bold {
	font-weight: bold
}

.static-kline.volume:before {
	content: '[';
}

.static-kline.volume:after {
	content: ']';
}

.btn-group.bootstrap-select {
	padding-top: 8px;
}

.dropdown-toggle.bs-placeholder, .dropdown-toggle.bs-placeholder:hover, .dropdown-toggle.bs-placeholder:active, .dropdown-toggle.bs-placeholder:focus, .open > .btn-default.dropdown-toggle, .open > .btn-default.dropdown-toggle:hover {
	background-color: #333;
	color: #eee;
}
.bootstrap-select > .dropdown-toggle {
	background-color: #333;
	color: #eee;
}
.dropdown-menu {
	background-color: #333;
}

.dropdown-menu > .bs-searchbox > .form-control {
	background-color: #333;
	color: #eee;
	border: 1px solid #eee;
}

.dropdown-menu.inner {
	background-color: #333;
	border: 1px solid #aaa;
}

.dropdown-menu.inner > li.no-results {
	background-color: #333;
	color: #eee;
}

.dropdown-menu.inner > li > a {
	color: #eee;
}

.dropdown-menu.inner > li > a:hover {
	background-color: #666;
}

#welcome-well {
	background-color: #333;
	color: #eee;
	font-size: 200%;
	text-align: center
}

.glyphicon.pairname {
	font-size: 133%;
	cursor: pointer;
}