body {
  font-family: 'Exo', sans-serif;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: #eee;
}

.pairname, .equitether {
	font-weight: bold;
	font-size: 175%;
}

.header-span {
	text-align: center;
	font-weight: bold;
	font-size: 175%;
}

.negative {
	color: red;
}

div.colfig {
	padding: 0px;
}

.colfig > span {
	padding: 0px 4px;
}

.rowblock {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0px 4px;
}

.navbar.navbar-inverse {
	border-radius: 0px;
	font-weight: bold;
}

.footer {
	border-top: 1px solid #aaa;
	font-size: 90%;
	font-style: italic;
	text-align: right;
	padding-right: 8px;
}

.bg-positive {
	background-color: transparent;
}

.bg-negative {
	background-color: #EC9DAE
}

.equitether {
	padding-right: 4px;
}