!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Brynhildr
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Exo'}
  %body
    = yield
    %div{class: 'container'}
    %div{class: 'footer'} Brynhildr v0.0.3 - Gloria Budiman
